:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --main-bg: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

body {
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card {
    background-color: var(--card-BG);
    width: 255px;
    max-width: 85vw;
    padding: 20px;
    height: 440px;
    border-radius: 10px;
    box-shadow: 0 20px 50px #112;
}

#nft {
    width: 100%;
    border-radius: 5px;
}

.nft-image {
    position: relative;
    cursor: pointer;
}

.nft-image div{
    background-color:  rgba(0, 255, 247, .6);;
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    width: 100%;
    height: 99%;
    border-radius: 5px;
    opacity: 0;
    transition: .3s;
}

.nft-image div:hover {
    opacity: 1;
}


h1 {
    font-size: 1.15rem;
    margin: 15px 0;
}

a:hover {
    color: var(--Cyan);
}

p {
    color: var(--Softblue);
    font-size: .8rem;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 15px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.info img {
    margin-right: 5px;
}

.price {
    font-size: .8rem;
    font-weight: 400;
    color: var(--Cyan);
    display: flex;
    align-items: center;
}

.days-left {
    color: var(--Softblue);
    font-size: .8rem;
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--line);
    margin-bottom: 15px;
}

#jules {
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.criate {
    font-size: .8rem;
    display: flex;
    align-items: center;
    color: var(--Softblue);
}

.criator {
    margin-left: 5px;
}